.hero-dismiss-btn{
    position: absolute;
    top: 4%;
    right: 2%;
}

#error-toast{
    position: absolute;
    right: 0;
    top: 0;
    z-index:9999;
}

.notes-body{
    height: calc(100vh / 2);
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    cursor: pointer;
}

.edit-anchor{
    margin-right: 5px;
}

.delete-anchor{
    margin-left: 5px;
}